<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alumni.back.Mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.alumni.back.Entity.Tag">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, description, created_time, updated_time
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM tag
        ORDER BY created_time DESC
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM tag
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.alumni.back.Entity.Tag">
        INSERT INTO tag (id, name, description, created_time, updated_time)
        VALUES (#{id}, #{name}, #{description}, NOW(), NOW())
    </insert>

    <update id="update" parameterType="com.alumni.back.Entity.Tag">
        UPDATE tag
        SET name = #{name},
            description = #{description},
            updated_time = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM tag WHERE id = #{id}
    </delete>

</mapper> 